# Practical_1: Variables and Assignments

## Exercise 1
Declare a variable x and assign it the value 10

In [1]:
x  = 10

## Exercise 2
Assign the value True to a variable called is_valid

In [2]:
is_valid = True

## Exercise 3
Create a string variable name with the value "Python Programming".

In [3]:
name = 'Python Programming'

## Exercise 4
Assign the result of 5 + 3 to a variable sum_result.

In [4]:
sum_result = 5 + 3

## Exercise 5
Assign multiple variables in one line: a = 5, b = 10, c = 15.

In [5]:
a, b, c = 5, 10, 15

## Exercise 6
Assign the value of one variable x to another variable y.

In [6]:
x = 19
y = x

## Exercise 7
Assign a floating-point number 9.8 to a variable gravity.

In [7]:
gravity = 9.8

## Exercise 8
Create a variable country and assign it the string value of your favorite country.

In [8]:
country = 'Japan'

## Exercise 9
Change the value of variable age from 25 to 26 in two separate steps.

In [9]:
age = 25
age = 26

## Exercise 10
Use one variable to store the result of subtracting two numbers 20 - 7.

In [10]:
result_of_substracting = 20 - 7

## Exercise 11
Assign an integer value and a floating-point value to two different variables.

In [11]:
x = 19
x = 18.5

## Exercise 12
Assign a boolean value False to a variable is_completed.

In [12]:
is_completed = False

## Exercise 13
Swap the values of two variables x and y.

In [13]:
x, y = y, x

## Exercise 14
Assign a complex number 3 + 4j to a variable complex_num.

In [14]:
complex_num = 3 + 4j

## Exercise 15
Reassign a variable from an integer to a string.

## Exercise 16
Create two variables first_name and last_name, and assign them your first and last names.

In [15]:
last_name = 'Tikome Nana'
first_name = 'Ismaila'

## Exercise 17
Create a variable temperature and assign it the value of 35.5.

In [16]:
temperature = 35.5

## Exercise 18
Assign the result of the multiplication of two numbers 8 * 6 to a variable product.

In [17]:
product = 8 * 6

## Exercise 19
Assign a sentence of your choice to a variable sentence.

In [18]:
sentence = 'Je suis Tikome, oui Tikome.'

## Exercise 20

Use an assignment to convert a string '50' into an integer variable int_value.

In [24]:
string = '50'

int_value = int(string)

print(int_value)
type(int_value)

50

int

## Exercise 21:
Assign the result of dividing 144 by 12 to a variable quotient.

In [25]:
quotient = 144 / 12
quotient

12.0

## Exercise 22:
Assign the remainder of 47 divided by 5 to a variable remainder.

In [26]:
remainder = 47 / 5
remainder

9.4

## Exercise 23:
Create a variable is_student and assign it the value True.

In [ ]:
is_student = True

## Exercise 24:
Use a variable to store the result of a modulo operation: 45 % 4.

In [27]:
modulo = 45 % 4
modulo

1

## Exercise 25:
Create a variable pi and assign it the value 3.14159.

In [28]:
pi = 3.14159
pi

3.14159

## Exercise 26:
Create two variables length and width, assign them values, and calculate the area of a rectangle.

In [29]:
length = 10
width = 19

area = length * width
area

190

## Exercise 27:
Assign a negative number to a variable negative_value.

In [30]:
negative_value = -1
negative_value

-1

## Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable greeting.

In [31]:
greeting = 'Hello world!'
greeting

'Hello world!'

## Exercise 29:
Create a variable population and assign it a large integer value (in billions).

In [32]:
population = 1000000000
population

1000000000

## Exercise 30:
Use a variable to store the result of raising 2 to the power of 8.

In [33]:
raising_value = 2**8
raising_value

256

## Exercise 31:
Assign a list of your favorite fruits to a variable fruits.

In [36]:
fruits = ['apple', 'banana', 'orange', 'wathermelong']
fruits

['apple', 'banana', 'orange', 'wathermelong']

## Exercise 32:
Assign a tuple of three numbers to a variable coordinates.

In [35]:
coordinates = (1, 2, 3)
coordinates

(1, 2, 3)

## Exercise 33:
Assign a dictionary with keys name and age to a variable person.

In [37]:
person = {'name':'Tikome Nana Ismaila', 'age':23}
person

{'name': 'Tikome Nana Ismaila', 'age': 23}

## Exercise 34:
Use variables to store the sum of two floating-point numbers.

In [38]:
floating_number_1 = 19.5
floating_number_2 = 18.5

result = floating_number_1 + floating_number_2
result

38.0

## Exercise 35:
Create a variable is_sunny and assign it the result of a comparison 10 > 5.

In [39]:
is_sunny = 10 > 5
is_sunny

True

## Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

In [41]:
string = 'My name is Ismaila Tikome Nana'
integer = 23
print(f'{string} I am {integer} years old.')

My name is Ismaila Tikome Nana I am 23 years old.

## Exercise 37:
Reassign a variable that originally held a number to a boolean value.

In [42]:
valeur = 1
valeur = bool(valeur)
valeur

True

## Exercise 38:
Create a variable is_weekend and assign it the result of False.

In [43]:
is_weekend = False
is_weekend

False

## Exercise 39:
Assign a multi-line string to a variable description.

In [45]:
description = """
    Salut à tous, je suis Tikome Nana Ismaila.
    Mon plus grand rêve?
    C'est de dévenir Expert en Cybersecurity Chez Google, à la Silicon Valley aux Etats Unis.
"""

print(description)

    Salut à tous, je suis Tikome Nana Ismaila.
    Mon plus grand rêve?
    C'est de dévenir Expert en Cybersecurity Chez Google, à la Silicon Valley aux Etats Unis.

## Exercise 40:
Use variables to store the result of the absolute value of -25.

In [46]:
absolute_value = abs(-25)
absolute_value

25

## Exercise 41:
Assign the result of a floor division 100 // 6 to a variable floor_div_result.

In [47]:
floor_div_result = 100 // 6
floor_div_result

16

## Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable mixed_sum.

In [49]:
integer_value = 19
float_value = 18.5

mixed_sum = integer + float_value
mixed_sum

41.5

## Exercise 43:
Assign a boolean value based on the comparison of two variables a = 10 and b = 15.

In [50]:
boolean_value = a < b
boolean_value

True

## Exercise 44:
Assign a long sentence to a variable and count its characters using len().

In [51]:
sentence = 'I\'m not afraid to fail.'
len(sentence)

23

## Exercise 45:
Assign a fractional result 7 / 3 to a variable division_result.

In [52]:
division_result = 7/3
division_result

2.3333333333333335

## Exercise 46:
Create a variable speed and assign it the value of 100 kilometers per hour.

In [54]:
speed = 100/60
print(f'Speed : {speed} kilometers per minute.')

Speed : 1.6666666666666667 kilometers per minute.

## Exercise 47:
Assign a multi-variable equation like y = 3x + 5 where x = 4 to a variable y.

In [56]:
x = 4
y = 3*x + 5
y

17

## Exercise 48:
Use variables to calculate and store the average of three numbers.

In [57]:
number_1 = 19
number_2 = 20
number_3 = 18

average = (number_1 + number_2 + number_3) / 3
average

19.0