### Exercise 1:
Create a list of integers from 1 to 10.

In [2]:
list_integers = [i for i in range(1, 11)]
print(list_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [3]:
tuple_elements = ('apple', 'banana', 'cherry')
tuple_elements

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [4]:
numbers = [10, 20, 30, 40]
numbers = tuple(numbers)
numbers

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [5]:
set_elements = {1, 2, 3, 4, 5}
set_elements

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [6]:
student = {
    'name':'Alice',
    'age' : 20,
    'grade' : 'A'
}

student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [7]:
list_elements = [10, 20, 30, 40, 50]
list_elements[1]

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [8]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = 'mango'
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [9]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [10]:
person = {"name": "John", "age": 25, "city": "New York"}
del person['age']
person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

In [12]:
for object in range(10):
    print(object)

0
1
2
3
4
5
6
7
8
9

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [13]:
list_of_squares = [i**2 for i in range(1, 11)]
list_of_squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [17]:
tuple_of_even = [i for i in range(2, 11) if i%2 == 0]
tuple_of_even = tuple(tuple_of_even)
tuple_of_even

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [19]:
fruits = ["apple", "banana", "cherry"]
for element in fruits:
    print(element)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [20]:
numbers = {1, 2, 3, 4, 5}
print(3 in numbers)

True

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [21]:
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [22]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [24]:
def sum_of_list_of_elements(list_of_elements):
    return sum(list_of_elements)
print(sum_of_list_of_elements([i for i in range(10)]))

45

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [25]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set_elements = set(numbers)

set_elements

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [26]:
string = 'hello'
list_of_caracters = [i for i in string]
list_of_caracters

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [33]:
tuple_elements = (1, 2, 3, 4)
tuple_elements = list(tuple_elements)
tuple_elements.reverse()
tuple_elements
tuple_elements = tuple(tuple_elements)
tuple_elements

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [35]:
dict1 = {'a':1, 'b':2}
dict2 = {'c':3, 'd':4}

dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [37]:
dic = {i:i**2 for i in range(1, 6)}
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [39]:
for i in dic:
    print(f'{i} : {dic[i]}')

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [40]:
list_alphabet = [chr(i) for i in range(97, 102)]
list_alphabet

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [44]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

list3 = list(zip(list1, list2))
list3

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [45]:
list_elements = [10, 20, 30, 40, 50]
print(list_elements.index(50))

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [47]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [48]:
def largest_number(list_integers):
    return max(list_integers)

print(largest_number([1, 2, 3, 4, 5]))

5

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [49]:
fruits = ["apple", "banana", "apple", "orange"]
number_of_times = fruits.count('apple')
print(number_of_times)

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [50]:
person = {
    'name' : 'Alice',
    'age': 25,
    'city': 'New York'
}

person['city']

'New York'

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [51]:
def duplicated_removed(list_elements):
    list_elements = set(list_elements)
    return list(list_elements)

print(duplicated_removed([1, 2, 1, 3, 7, 2, 3, 4, 8, 4]))

[1, 2, 3, 4, 7, 8]